extends ../../../base
block include-lib
    script(src='/public/js/global.js')


block title
block body
    .container
        .row
            h1 Chapitre 2 :
            h2 ex1
        .row
            p
                | Jade is a terse and simple
                | templating language with a
                | strong focus on performance
                | and powerful features.
                | dqlskdklsqjdkjqskdqssddjqshdh
                | Jade is a terse and simple
                | templating language with a
                | strong focus on performance
                | and powerful features.
                | dqlskdklsqjdkjqskdqssddjqshdh


