footer.page-footer
    .container
        .row
            .col.l6.s12
                h5.white-text Université Claude Bernard Lyon 1
                p.grey-text.text-lighten-4 Logiciel Educatif
            .col.l4.offset-l2.s12
                h5.white-text By
                ul
                    li
                        a.grey-text.text-lighten-3(href='#!') Naama Hamizi
                    li
                        a.grey-text.text-lighten-3(href='#!') Mahmoud Ayssami
    .footer-copyright
        .container
            | © 2017 Copyright
            a.grey-text.text-lighten-4.right(href='#!') Université Claude Bernard Lyon 1
