extends base

block include-lib
    script(src='/public/js/index.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.1/Sortable.min.js" )
block content
    h1= title
    p Welcome to #{title}

block body


